*{
  border:0;
  padding:0;
  margin:0;
  box-sizing: border-box;

}
.im{
  max-height: 50px;
}
.main {
  padding: 10px;
  margin-top: 30px;
  height: 1500px;
}

#overlay{
  text-align: center;
  display: inline-block;
  padding: 10%;
  width: 100%;
  background: rgba(0, 0, 0,0.8);
  color: white;
  
}
#panel{
  width:100%;
  padding: 12%;   
  background-repeat: no-repeat; 
  
}
.navbar{
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0,0,0,0.8);
}

.navbar-item{
  
  display: inline-block;
  padding: 10px 30%;
  background:rgba(0, 0, 0);
  transition: all 0.2s linear;
}
.active,.navbar-item:hover{
  cursor: pointer;
  background: red;
}

.navbar-item .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .navbar-item:not(:first-child) {display: none;}
  .navbar-item .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar-item .responsive {position: relative;}
  .navbar-item .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.btn 
{
  float: right;
  padding: 5px;
  margin-top: 20px;
  margin-right: 5px;
  background-color: white;
}

.mySlides {
  display:none;
}
.new1
{
	font-size:75px;
  text-align:center;
  color: white;
}
.new2
{
	font-size:50px;
	text-align:center;
  font-family: 'Mali', cursive;
  color: white;
}
.new3
{
  text-align:justify;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.next
{
  height: 70px;
}

.divider{
  width:100%;
  height: 1px;
  background-color: #434769;
  display: inline-block;
}
.widget_ab_item_text h6{
  margin-bottom:5px;
}
.widget_item h5{
  font-weight: 700;
}
.widget_item .btn:hover{
  background-color: #0ec9a2;
}
.widget_item li a{
  color:#aaa;
}
.widget_item li a:hover{
  color:#fff;
}

.widget_latst_item_text p{
  margin-bottom: 0px;
  color:#aaaaaa;
}
.widget_service li i,
.widget_latst_item_text a{
  font-size:12px;
  color:white;
}
.widget_service li i{
  margin-right: 5px;
}
.widget_service li{
  font-size:13px;
  border-bottom: 1px dashed #aaa;
  padding-bottom: 10px;
}
.widget_newsletter li a:hover i,
.widget_latst_item_text:hover p,
.widget_service li:hover,
.widget_service li:hover i{
  color:#fff;
}

.widget_ab_item .item_icon,
.widget_latst_item .item_icon{
  float: left;
  width: 20%;
  display: inline-block;
  margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text,
.widget_latst_item .widget_latst_item_text {
  display: inline-block;
  width: 70%;
}
.widget_ab_item .item_icon{
  float: left;
  width: 10%;
  display: inline-block;
  margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text {
  display: inline-block;
  width: 80%;
}
.widget_newsletter .form-inline .form-group{
  display: block;
}
.widget_newsletter .form-control{
  width:80%;
  height: 40px;
  background-color: #1a1a1a;
  border-color:#333333;
  display: inline-block;
}
.widget_newsletter .btn{
  width: 20%;
  padding: 0.65rem 1.2rem;
  background-color: #00a885;
  border-color:#00a885;
  color:#fff;
  border-radius: 0;
  margin-left:-4px;
  display: inline-block;
}
.widget_brand a{
  font-size:30px;
  font-weight: 800;
  color:#aaa;
}
.widget_newsletter li a i{
  color:#aaa;
}

.text-white{color:#fff !important;;}

.main_footer i {
  padding: 0px 5px;
  color: #ff0000;
}

.main_footer a {
  color: #ddd;
  padding: 5px;
}

.site-footer {
  background:rgba(0, 0, 0, 0.8);
}
